<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.travel360">

    <!-- 인터넷 연결 상태 확인을 위해 permission을 추가하였습니다.! -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- activity에 screenOrientation="portrait"를 추가하여 세로로만 동작하도록 하였습니다.! -->
    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".UserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Search_Activity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".StoryWriteActivity"
            android:label="여행기 쓰기"></activity>
        <activity
            android:name=".StoryWrite2Activity"
            android:label="여행기 쓰기"></activity>
        <activity
            android:name=".StoryReadActivity"
            android:label="여행기 본문"></activity>
        <activity
            android:name=".ReviewMainReadActivity"
            android:label="리뷰 본문"></activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".JoinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".ImageViewer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:theme="@style/customTheme"
            android:name="me.iwf.photopicker.PhotoPickerActivity"/>

        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            />


    </application>

</manifest>